body {
  background: black;
  color: white;
  overflow-x: hidden !important;
}

.texture {
  background: url('../images/edd06a32.png');
}

#noahtop {
  color: rgba(255, 255, 255, 0.43);
  font-size: 1.5em;
  text-shadow: 0 0 1px black;
}

#neumarktop {
  color: rgba(255, 255, 255, 0.23);
  font-size: 1.5em;
  text-shadow: 0 0 1px black;
}

.affix {
  top: 20px;
}

#candle {
  z-index: -5;
  position: relative;
  background: url('../images/candle.gif') no-repeat center;
  background-size: contain;
  height: 80vh;
}

#downarrow {
  text-align: center;
  font-size: 2em;
}

.splashtext {
  font-family: 'Orbitron', sans-serif;
  font-size: 2em;
  color: rgb(72, 201, 33);
}

p {
  font-size: 1.5em;
  color: hsl(358, 66%, 15%);
}

.intro {
  box-shadow:  0 0 10px rgba(91, 18, 20, 0.7) inset;
  border-radius: 17px;
  color: hsl(358, 66%, 15%);
  position: relative;
  z-index: 0;
  background: url('../images/canada.png') no-repeat center;
  background-size: cover;
  filter: drop-shadow(1px 2px 15px hsl(0, 0%, 20%));
  margin-bottom: 20px;
}

.inner {
 padding: 20px;
}

#text{
  font-family: 'Play', sans-serif;
  padding: 20px;
  background: rgba(255, 255, 255, 0.54);
  border-radius: 17px;
}

#logocontainer {
  position: relative;
  bottom: 100px;
  z-index: 1000;
}

.noahlogo {
  position: absolute;
  top: 0;
  left: 60;
  width: 90%;
  z-index: 1;
}

#noahfull {
  filter: drop-shadow(0 0 8px black);
  /*-webkit-backdrop-filter: blur(10px);*/
  transition: all 0.3s ease;
}

#noahfull:hover {
  transform: scale(1.1, 1.1);
  filter: drop-shadow(0 0 10px black);
}

#noahart {
  text-align: center;
}

#noahimg {
  height: auto;
}

#dojo {
  background: hsla(0, 0%, 100%, 0.3);
  padding: 15px;
  margin: 10px;
  box-shadow:  0 0 10px rgba(91, 18, 20, 0.7) inset;
}

#dojotext {
  margin-top: 5px;
}

#doge {
  margin-top: 15px;
}

#doge:hover {
  filter: opacity(50%) blur(1px);
}

.titlesection {
  margin: 30px auto;
  border-radius: 17px;
  box-shadow:  0 0 10px rgba(91, 18, 20, 0.3) inset;
  background: hsl(45, 12%, 55%);
  filter: drop-shadow(1px 2px 5px hsla(0, 0%, 20%, 0.5));
  padding: 5px;
}

.titledivider {
  border-radius: 17px;
  margin: 20px auto;
  box-shadow:  0 0 10px rgba(91, 18, 20, 0.3) inset;
  background: transparent;
  padding: 3px;
}

h1 {
  font-family: 'Play', sans-serif;
  margin: 10px;
  font-weight: 700;
  font-size: 3em;
  color: rgba(255, 255, 255, 0.75);
}

.firstFade {
  opacity: 0;
  transition: all 1.5s ease-out;
}

.project {
  margin-top: 30px;
  max-width: 300px;
  max-height: 300px;
  box-shadow: 0 17px 10px -10px hsla(0, 0%, 20%, 0.4);
  border-radius: 3px;
  transition: all 0.3s ease;
  position: relative;
  /*border: 1px dotted red;*/
}

.project:hover {
  box-shadow: 0 37px 15px -15px hsla(0, 0%, 20%, 0.2);
  transform: translate(0, -6px);
  filter: brightness(90%) saturate(40%);
}

.plus {
  width: 30px;
  height: auto;
  filter: invert() drop-shadow(0 0 4px rgb(88, 88, 88));
  position: absolute;
  bottom: 15px;
  right: calc(50% - 15px);
  /*right: 50%;*/
}

.project:hover + .plus {
  display: none;
}

h3 {
  color: hsl(358, 66%, 15%);
}

.modal.and.carousel {
  position: fixed; // Needed because the carousel overrides the position property
}

.carousel-inner img {
  max-height: 600px;
  width: auto;
  margin: auto;
}

.carousel-caption {
  padding-bottom: 0px;
}

.btn-default{
  background: rgba(34, 112, 255, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.55);
  border: 1px solid rgba(0, 0, 0, 0.55);
  color: white;
}

.btn-default:hover{
  opacity: 0.8;
  background: rgba(167, 198, 255, 0.91);
  border: 1px solid rgba(0, 0, 0, 0.55);
}

.mediacontent {
  margin: 30px auto 0 auto;
  max-width: 350px;
  max-height: 300px;
}

.footer {
  margin-top: 100px;
  padding-bottom: 30px;
  background: hsla(45, 12%, 55%, 0.6);
  font-family: 'Play', sans-serif;
  color: white;
}

.footertext p{
  margin-top: 25px;
  color: white;
}

#resumebutton {
  color: white;
  border: 1px solid white;
  padding: 10px;
}

#resumebutton:hover {
  background: rgba(255, 255, 255, 0.14);
  text-decoration: none;
}

.iconlogo {
  margin: 0 5px;
  filter: invert();
}

.iconlogo:hover {
  filter: opacity(60%) invert();
}

@media (max-width: 767px) {
  .logo {
    max-height: 20px;
    margin: 20px 10px;
  }
  h1 {
    font-size: 1.8em;
  }

  #noahimg {
    width: 70%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .logo {
    max-height: 35px;
    margin: 30px 15px;
  }

  h1 {
    font-size: 1.6em;
  }

  #noahimg {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .logo {
    max-height: 50px;
    margin: 30px 15px;
  }
  #noahimg {
    width: 100%;
  }
}
